<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}public/images/Avatar.png" style="max-width: none; margin-left: -105px; margin-bottom: -15px;">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav -->

    <div class="sidebar-nav">
      {% if site.author.email %}<a class="sidebar-social" href="mailto: {{ site.author.email }}" target="_blank">{% include svg-icons/email.html %}</a>{% endif %}    
      {% if site.author.github %}<a class="sidebar-social" href="http://github.com/{{ site.author.github }}" target="_blank">{% include svg-icons/github.html %}</a>{% endif %}
      {% if site.author.linkedin %}<a class="sidebar-social" href="http://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">{% include svg-icons/linkedin.html %}</a>{% endif %}
      {% if site.author.twitter %}<a class="sidebar-social" href="http://twitter.com/{{ site.author.twitter }}" target="_blank">{% include svg-icons/twitter.html %}</a>{% endif %}
      {% if site.author.stackoverflow %}<a class="sidebar-social" href="http://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank">{% include svg-icons/stackoverflow.html %}</a>{% endif %}
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
